@import "variables";

.formContact{
    margin: 24px 16px;
    text-align: center;
}
form .button{
    background-color: $boton;
    border: $boton solid 2px;
    &:hover{
        background-color: $boton-hover;
        border: $boton-hover solid 2px;
    }
}

/* MEDIA QUERY DESKTOP */   
@media only screen and (min-width: $desktop) {
    .formContact{
        border-radius: 10px;
        box-shadow: $sombra;
        padding: 24px;
        width: 30%;
        margin: 24px auto;
    }
}