@import "variables";

.formContact{
    margin: 24px 16px;
    text-align: center;
}

/* MEDIA QUERY DESKTOP */   
@media only screen and (min-width: $desktop) {
    .formContact{
        border-radius: 10px;
        box-shadow: $sombra;
        padding: 24px;
        width: 30%;
        margin: 24px auto;
    }
}