@import "variables";

.contactoSection{
    margin: 16px 0px;
}

.formContact, .redesContact{
    text-align: center;
    width: 90%;
    margin: 16px 0px;
}
form .button{
    background-color: $boton;
    border: $boton solid 2px;
    &:hover{
        background-color: $boton-hover;
        border: $boton-hover solid 2px;
    }
}

/* MEDIA QUERY DESKTOP */   
@media only screen and (min-width: $desktop) {
    .contactoSection{
        margin: 16px auto;
    }
    .formContact, .redesContact{
        border-radius: 10px;
        box-shadow: $sombra;
        padding: 24px;
        width: 35%;
    }
    .redesContact{
        margin-top: 50px;
        background-color: $verdeClaro;
        color: $txtLight;
        i{
            font-size: 32px;
            color: $verdeClaro;
            background-color: white;
            margin: 0px;
            padding: -5px;
        }
    }
}

